@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  padding: 1rem;
  background: radial-gradient(skyblue, darkblue);
}

.container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 0.75rem;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: whitesmoke;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  min-width: calc(300px + 1rem);
}

.flex-end {
  align-items: flex-end;
}

.flex-col {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  gap: 0.35rem;
}

header {
  font-size: 20px;
  margin-bottom: 1rem;
}

input,
select,
button,
textarea {
  font: inherit;
}

label,
p,
input,
select {
  padding: 0.25rem;
  border-radius: 5px;
}

input:invalid {
  background-color: tan;
  outline: 2px solid red;
}

.button {
  padding: 0.25rem 0.8rem;
  border-radius: 5px;
}
.button:nth-child(1) {
  margin: 0 0.35rem 0 0;
}

.button:focus,
.button:active {
  outline: 2px solid yellow;
}
.button:hover {
  background-color: lightgrey;
}
.bg-white {
  background-color: white;
  padding: 0.35rem;
  border-radius: 5px;
}
